.home-header {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  .site-nav ul, .site-nav li {
    float: none;
  }
  a {
    color: $header-link-color;
  }
}

.banner {
  width: 100%;
  text-align: center;
  @media (max-width: 1000px) {
    display: none;
  }
}

// call out feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background: none repeat scroll 0 0 $header-desc-background-color;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}

#greet {
  margin: 2em 0 0 0;
  text-align: center;
}
#greet img {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
#greet div {
  display: inline-block;
  vertical-align: middle;
  color: #fc2;
  background-color: #11a;
  padding: 1em;
  border-radius: 25px;
}

// post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
